@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,#85be66,#DDFCCC );
}

main{
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 5px 5px 15px,#020202 ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #f08cf0;
    text-align: center;
    text-shadow: 1px 1px 0px #b608b6 ;
}

h2{ 
    color: #4aadeb;
}
p{
    text-align: justify;
}